*
{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

html
{
    overflow: hidden;
    background: #0400ff; 
    font-family: 'Audiowide', cursive;
}


.webgl
{
    position: fixed; 
    top: 0; 
    left: 0; 
    outline: none;
    z-index: -1;
}